@model IEnumerable<CAAMarketing.Models.Item>
@inject IHttpContextAccessor HttpContextAccessor
@{

    ViewData["Title"] = "Create";
    //CAAMarketing.Models.Item SelectedItems = (CAAMarketing.Models.Item)ViewBag.SelectedItems
}
<link rel="stylesheet" href="~/css/Chooseitemtrans.css" asp-append-version="true" />



<div class="container">
    <ul class="progressbar">
        <li class="active">
            <p>Select Transfer To Location</p>
        </li>
        <li class="active">
            <p>Select Transfer Items</p>
        </li>
        <li class="active">
            <p>Choose Quantities/Locations</p>
        </li>
    </ul>
</div>



<div class="deimage">
    <h1><u><b>Step 3:</b></u></h1><h2>Choose The Available Locations And Quanity For Each Item To Transfer :</h2>
    <hr />
</div>
<!-- Help Button -->
<div class="container my-3">
    <button type="button" class="btn btn-info btn-color-Create" data-bs-toggle="modal" data-bs-target="#chooseItemQuantitiesEditHelpModal">
        Need Help? Click here
    </button>
</div>
<!-- Help Modal -->
<div class="modal fade" id="chooseItemQuantitiesEditHelpModal" tabindex="-1" aria-labelledby="chooseItemQuantitiesEditHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseItemQuantitiesEditHelpModalLabel">How to Choose Locations and Quantity for Selected itmes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="bi bi-pencil-square text-primary"></i> <strong>Quantities:</strong> Enter the quantity of each item that you want to transfer to the selected location.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-pencil-square text-primary"></i> <strong>Locations:</strong> Choose the location where you want to transfer each item.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-save text-success"></i> <strong>Save:</strong> Click the "Submit" button to save the changes.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-arrow-left-square-fill text-danger"></i> <strong>Back to Overview:</strong> Click the "Back to Overview" button to return to the overview page of the event.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-arrow-left-square-fill text-primary"></i> <strong>Back:</strong> Click the "Back" button to go back to the previous page and edit the selected items again.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<center><h3>Selected Items:</h3></center>
<form asp-action="ChooseItemQuantities" method="post">

    <div class="selected-items">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-lg-4" style="padding:35px">
                    <div class="row">
                        
                            <fieldset class="item-fieldset">
                                <legend>Item #@item.ID: @item.Name</legend>
                                <div class="row">
                                    <div class="col-md-2">
                                        @{
                                            if (item.ItemThumbNail?.Content != null)
                                            {
                                                string imageBase64 = Convert.ToBase64String(item.ItemThumbNail.Content);
                                                string imageSrc = string.Format("data:" + item.ItemThumbNail.MimeType + ";base64,{0}", imageBase64);
                                                <img src="@imageSrc" alt="Item Picture of @item.Name" title="Item Picture of @item.Name" class="img-fluid avatar" />
                                            }
                                            else
                                            {
                                                <div>
                                                    <img src="~/images/image-not-found_tm.png" alt="Image not found" title="Image not found" class="img-fluid avatar" />
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="@($"total-stock-{item.ID}")">Total Stock: </label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    @{
                                                        int totalStock = 0;
                                                        foreach (var inventory in item.Inventories)
                                                        {
                                                            totalStock += inventory.Quantity;
                                                        }
                                                    }

                                                    <input type="text" class="form-control" readonly value="@totalStock" id="@($"total-stock-{item.ID}")">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>From:</label>
                                            </div>
                                            <div class="col-md-7">
                                                @{
                                                    if (item.Inventories.Count() == 0)
                                                    {
                                                        <p>None</p>
                                                    }
                                                    else
                                                    {
                                                        <select class="form-control required" name="@($"locations-{item.ID}")" id="@($"locations-{item.ID}")" required>
                                                            <option value="">Select a location</option>
                                                            @foreach (var inventory in item.Inventories)
                                                            {
                                                            if (inventory.LocationID == Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("ToLocationForTransfer")))
                                                            {
                                                                <option disabled readonly value="@inventory.Location.Id" data-quantity="@inventory.Quantity">@inventory.Location.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@inventory.Location.Id" data-quantity="@inventory.Quantity">@inventory.Location.Name</option>
                                                            }
                                                            
                                                            }
                                                        </select>

                                                    }
                                                }
                                            </div>
                                        </div>


                                    <div class="row">
        <div class="col-md-5">
            <label for="@($"location-quantity-max-{item.ID}")">Location Qty:</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" value="" id="@($"location-quantity-max-{item.ID}")" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label for="@($"location-quantity-{item.ID}")">Transfer Qty:</label>
        </div>
        <div class="col-md-7">
            <input type="number" class="form-control" value="0" id="@($"location-quantity-{item.ID}")" name="@($"itemId{item.ID}")" required>
            <input type="number" hidden="hidden" class="form-control" value="" id="@($"locationId-{item.ID}")" name="@($"locationId{item.ID}")" />
        </div>
    </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="@($"location-quantity-{item.ID}")">To:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                <input type="text" class="form-control" readonly value="@HttpContextAccessor.HttpContext.Session.GetString("ToLocationNameForTransfer")">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>

                       
                    </div>
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn-submit">Transfer</button>
 <div class="tooltip"> <a asp-action="SelectItems"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>
</form>





@section Scripts{

    <script type="text/javascript">
        
        //$(document).ready(function () {
        //    $('select[name^="locations-"]').change(function () {
        //        var selectedLocationId = $(this).val();
        //        var selectedLocationQuantity = $(this).find('option:selected').data('quantity');
        //        var totalStockInput = $('#location-quantity-' + $(this).attr('id').split('-')[1]);
        //        totalStockInput.val(selectedLocationQuantity);


        //    });
        //});


        $(document).ready(function () {
            $('select[name^="locations-"]').change(function () {
                var selectedLocationId = $(this).val();
                var selectedLocationQuantity = $(this).find('option:selected').data('quantity');
                var itemID = $(this).attr('id').split('-')[1];
                var locationIdInput = $('#locationId-' + itemID);
                var totalStockInput = $('#location-quantity-' + itemID);
                var totalStockMAXInput = $('#location-quantity-max-' + itemID);

                console.log(selectedLocationId);
                locationIdInput.val(selectedLocationId);
                //totalStockInput.val(selectedLocationQuantity);
                totalStockMAXInput.val(selectedLocationQuantity);
            });
        });

        $(document).ready(function () {
            $('form').submit(function() {
                var formIsValid = true;
                $('.required').each(function() {
                    if ($(this).val() == '') {
                        formIsValid = false;
                    }
                });
                if (!formIsValid) {
                    alert('Please select a value for all required fields');
                    return false;
                }
            });
        });



        //$(document).ready(function () {
        //    $('select[name^="locations-"]').change(function () {

        //        var selectedLocationId = $(this).val();
        //        var selectedLocationQuantity = $(this).find('option:selected').data('quantity');
        //        console.log(selectedLocationId);


        //    });
        // });

    </script>

}


