                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              @model IEnumerable<CAAMarketing.Models.Location>

@{
    ViewData["Title"] = "Index";
}
<form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <!-- Help Section -->
    <div class="container my-3">
        <button type="button" class="btn btn-info btn-color-Create" data-bs-toggle="modal" data-bs-target="#locationHelpModal">
            Need Help? Click here
        </button>

        <!-- Help Modal -->
        <div class="modal fade" id="locationHelpModal" tabindex="-1" aria-labelledby="locationHelpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="locationHelpModalLabel">How to use this page</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <i class="bi bi-plus-circle-fill text-primary"></i> <strong>Create New Location:</strong> Click the "Create New Location" button to add a new location.
                            </div>
                            <div class="list-group-item">
                                <i class="bi bi-search text-success"></i> <strong>Search:</strong> Use the "Search box" to search for locations by name.
                            </div>
                            <div class="list-group-item">
                                <i class="bi bi-arrow-up-down text-warning"></i> <strong>Sorting:</strong> Click on the column headers (Location, Phone, Address) to sort the locations by the respective criteria.
                            </div>
                            <div class="list-group-item">
                                <i class="bi bi-pencil-square text-info"></i> <strong>Edit Location:</strong> Click the "Edit" link to modify the details of a location.
                            </div>
                            <div class="list-group-item">
                                <i class="bi bi-info-square text-secondary"></i> <strong>View Location Details:</strong> Click the "Details" link to view more information about a location.
                            </div>
                            <div class="list-group-item">
                                <i class="bi bi-trash text-danger"></i> <strong>Delete Location:</strong> Click the "Delete" link to remove a location.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <button class="btn btn-success @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click this to filter/search">
            <i>Filter/Search</i>
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Quick Name Search:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" title="click here to filter" class="btn-filter" />
                        <a asp-action="Index" title="Click here to clear the filter" class="btn-clear-barcode">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container-fluid ">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h1>Locations</h1>
                    <div class="col-xs-7">
                        <a asp-action="Create" title="Click here to create a new location" class="btn btn-primary btn-color-Create">
                            <i class="material-icons">&#xE147;</i>
                            <span>Create New location</span>
                        </a>

                        <div class="search-box">
                            <div class="input-group">
                                <input type="text" id="locationSearch" class="form-control" placeholder="Search by Location Name">
                                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
        <tr>
            <th>
                                <input type="submit" title="click here to sort by location" name="actionButton" value="Location" class="btn btn-link" />
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
            <td>
                 <a asp-action="Edit" title="Click this to edit" class="padding-for-actions" asp-route-id="@item.Id">Edit</a> |
                 <a asp-action="Details" title="Click this to go to details" class="padding-for-actions" asp-route-id="@item.Id">Details</a> |
                  <a asp-action="Delete" title="Click this to delete the event" class="padding-for-actions" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
                 </div>
        </div>
        <partial name="_PagingNavBar" />
    </div>


</form>


<script>
$(document).ready(function(){
    // Activate tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Filter table rows based on searched term
    $("#locationSearch").on("keyup", function() {
        var term = $(this).val().toLowerCase();
        $("table tbody tr").each(function(){
            $row = $(this);
            var name = $row.find("td:nth-child(1)").text().toLowerCase(); // Changed to the first column (Location Name)
            console.log(name);
            if(name.search(term) < 0){
                $row.hide();
            } else{
                $row.show();
            }
        });
    });
});
</script>