@model IEnumerable<CAAMarketing.Models.ItemReservation>
@inject IHttpContextAccessor HttpContextAccessor
@{

    ViewData["Title"] = "Create";
    //CAAMarketing.Models.Item SelectedItems = (CAAMarketing.Models.Item)ViewBag.SelectedItems
}



<div class="container">
    <ul class="progressbar">
        <li class="active">
            <p>Edit Selected Items</p>
        </li>
        <li class="active">
            <p>Edit Locations/Quantities</p>
        </li>
        <li>
            <p>Event OverView</p>
        </li>
    </ul>

</div>


<div class="deimage">
    <h1><u><b>Step 3:</b></u></h1><h2>Edit Location And Quanity For Selected Products :</h2>
    <a href="@Url.Action("EditOverview", "Events", new { id = HttpContextAccessor.HttpContext.Session.GetString("EventIDForEditOverView") })" title="Click this to go to the Overview Page" class="btn-exit">Back To Overview</a>
    <hr />
</div>

<!-- Help Button -->
<div class="container my-3">
    <button type="button" class="btn btn-info btn-color-Create" data-bs-toggle="modal" data-bs-target="#locationHelpModal">
        Need Help? Click here
    </button>
</div>
<!-- Help Modal -->
<div class="modal fade" id="locationHelpModal" tabindex="-1" aria-labelledby="locationHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationHelpModalLabel">How to Choose Locations and Quantity for Selected Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="bi bi-pencil-fill text-primary"></i> <strong>Modify Total Stock:</strong> Check the total stock of each item before choosing the location and quantity for transfer.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-check2-circle text-success"></i> <strong>Choose Location:</strong> Choose the location for the transfer from the dropdown list of available locations. If there is no available location, "None" will be displayed.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-eye-fill text-warning"></i> <strong>View Location Details:</strong> View the details of each location, including its name and available quantity.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-pencil-square text-secondary"></i> <strong>Enter Take-Out Quantity:</strong> Enter the quantity of items that you want to transfer from the chosen location.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-arrow-left text-danger"></i> <strong>Go Back:</strong> Click the "Back" icon above the "Submit" button to return to the previous page.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<center><h3>Selected Items:</h3></center>
<form asp-action="ChooseItemQuantitiesEdit" method="post">
    <div>
        <div class="selected-items">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-lg-4" style="padding:15px">
                        <div class="row">

                            <fieldset class="@(item.IsLoggedIn ? "item-fieldset-readonly" : "item-fieldset")">
                                @{
                                    if (item.IsLoggedIn)
                                    {
                                        <legend>Item #@item.Item.ID: @item.Item.Name (Logged)</legend>
                                    }
                                    else
                                    {
                                        <legend>Item #@item.Item.ID: @item.Item.Name</legend>
                                    }
                                }

                                <div class="row">
                                    <div class="col-md-2">
                                        @{
                                            if (item.Item.ItemImages?.Content != null)
                                            {
                                                string imageBase64 = Convert.ToBase64String(item.Item.ItemImages.Content);
                                                string imageSrc = string.Format("data:" + item.Item.ItemImages.MimeType + ";base64,{0}", imageBase64);
                                                <img src="@imageSrc" alt="Item Picture of @item.Item.Name" title="Item Picture of @item.Item.Name" class="img-fluid avatar" />
                                            }
                                            else
                                            {
                                                <div>
                                                    <img src="~/images/image-not-found_tm.png" alt="Image not found" title="Image not found" class="img-fluid avatar" />
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@($"total-stock-{item.Item.ID}")">Stock Left:</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @{
                                                        int totalStock = 0;
                                                        foreach (var inventory in item.Item.Inventories)
                                                        {
                                                            totalStock += inventory.Quantity;
                                                        }
                                                    }
                                                    <input type="text" class="form-control" readonly value="@totalStock" id="@($"total-stock-{item.Item.ID}")">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Choose Location:</label>
                                            </div>
                                            <div class="col-md-6">
                                                @{
                                                    if (item.Item.Inventories.Count() == 0)
                                                    {
                                                        <p>None</p>
                                                    }
                                                    else
                                                    {
                                                        <select class="form-control required" name="@($"locations-{item.Item.ID}")" id="@($"locations-{item.Item.ID}")" required>
                                                            <option value="">Select a location</option>
                                                            @foreach (var inventory in item.Item.Inventories)
                                                            {
                                                                if (item.LocationID == inventory.LocationID)
                                                                {
                                                                    <option value="@inventory.Location.Id" data-quantity="@inventory.Quantity" selected>@inventory.Location.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@inventory.Location.Id" data-quantity="@inventory.Quantity">@inventory.Location.Name</option>
                                                                }

                                                            }
                                                        </select>

                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@($"location-quantity-max-{item.Item.ID}")">Location Qty:</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" value="" id="@($"location-quantity-max-{item.Item.ID}")" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="@($"location-quantity-{item.Item.ID}")">Take-Out Quantity:</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" class="form-control" value="@item.Quantity" id="@($"location-quantity-{item.Item.ID}")" name="@($"itemId{item.Item.ID}")">
                                                <input type="number" hidden="hidden" class="form-control" value="" id="@($"locationId-{item.Item.ID}")" name="@($"locationId{item.Item.ID}")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <button type="submit" title="Submit and save" class="btn-submit">Submit</button>
    <div class="tooltip"> <a asp-action="EditSelectItems"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>

</form>





@section Scripts{

    <script type="text/javascript">


        $(document).ready(function () {
            $('select[name^="locations-"]').change(function () {
                var selectedLocationId = $(this).val();
                var selectedLocationQuantity = $(this).find('option:selected').data('quantity');
                var itemID = $(this).attr('id').split('-')[1];
                var locationIdInput = $('#locationId-' + itemID);
                var totalStockInput = $('#location-quantity-' + itemID);
                var totalStockMAXInput = $('#location-quantity-max-' + itemID);

                console.log(selectedLocationId);
                locationIdInput.val(selectedLocationId);
                //totalStockInput.val(selectedLocationQuantity);
                totalStockMAXInput.val(selectedLocationQuantity);
            });
        });

        $(document).ready(function () {
            $('form').submit(function () {
                var formIsValid = true;
                $('.required').each(function () {
                    if ($(this).val() == '') {
                        formIsValid = false;
                    }
                });
                if (!formIsValid) {
                    alert('Please select a value for all required fields');
                    return false;
                }
            });
        });


    </script>

}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-bA4hDkUMWVNodz+gy6pT3TqTJINCEW+pihpRDv1g2Z1iqRZJkWkp+8wvzbs6cYUfNdr+9H2J4d4vN/4k+REOig==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .container {
        width: 100%;
    }

    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style: none;
            display: inline-block;
            width: 30.33%;
            position: relative;
            text-align: center;
        }

            .progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border: 1px solid #ddd;
                border-radius: 100%;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                background-color: #fff;
            }

            .progressbar li:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #ddd;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: green;
            }

                .progressbar li.active:before {
                    border-color: green;
                }

                .progressbar li.active + li:after {
                    background-color: green;
                }

    .select2 {
        border-color: red !important;
    }
</style>
<style>

    .selected-items {
        flex-wrap: wrap;
    }

    .item-fieldset {
        margin-bottom: 30px;
        padding: 30px 20px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-sizing: border-box;
        background-color: #f9f9f9;
        transition: all 1s ease;
    }

        .item-fieldset:hover {
            background-color: #e9e9e9;
            border: 4px solid #ccc;
            cursor: pointer;
        }

        .item-fieldset legend {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .item-fieldset label {
            font-size: 16px;
            font-weight: bold;
        }

        .item-fieldset input[type="text"] {
            font-size: 14px;
            padding: 10px;
        }

        .item-fieldset .form-check {
            margin-top: 10px;
        }

        .item-fieldset .form-check-input {
            margin-right: 10px;
        }

</style>

<style>
    .btn-exit {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 2rem;
        border: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .btn-exit:hover {
            transform: scale(1.1);
            color: #fff;
            background-color: #c82333;
            border-color: #bd2130;
        }

        .btn-exit:focus, .btn-exit.focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        }

        .btn-exit.disabled, .btn-exit:disabled {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-exit:not(:disabled):not(.disabled):active, .btn-exit:not(:disabled):not(.disabled).active {
            color: #fff;
            background-color: #bd2130;
            border-color: #b21f2d;
        }

            .btn-exit:not(:disabled):not(.disabled):active:focus, .btn-exit:not(:disabled):not(.disabled).active:focus {
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
            }

</style>

<style>



    .item-fieldset-readonly {
        margin-bottom: 30px;
        padding: 30px 20px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-sizing: border-box;
        background-color: #f9f9f9;
        transition: all 1s ease;
        pointer-events: none;
        opacity: 0.7;
    }

        .item-fieldset-readonly:hover {
            background-color: #e9e9e9;
            border: 4px solid #ccc;
            cursor: pointer;
        }

        .item-fieldset-readonly legend {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .item-fieldset-readonly label {
            font-size: 16px;
            font-weight: bold;
        }

        .item-fieldset-readonly input[type="text"] {
            font-size: 14px;
            padding: 10px;
        }

        .item-fieldset-readonly .form-check {
            margin-top: 10px;
        }

        .item-fieldset-readonly .form-check-input {
            margin-right: 10px;
        }

</style>

