@model IEnumerable<CAAMarketing.Models.Item>

@{

    ViewData["Title"] = "Create";
    //CAAMarketing.Models.Item SelectedItems = (CAAMarketing.Models.Item)ViewBag.SelectedItems
}
<link rel="stylesheet" href="~/css/Chooseitemevent.css" asp-append-version="true" />



<div class="container">
    <ul class="progressbar">
        <li class="active">
            <p>Create Event</p>
        </li>
        <li class="active">
            <p>Select Items</p>
        </li>
        <li>
            <p>Choose Locations/Quanity</p>
        </li>
    </ul>
</div>


<div class="deimage">
    <h1><u><b>Step 3:</b></u></h1><h2>Chose Location And Quanity For Selected Products :</h2>
    <hr />
</div>

<!-- Help Button -->
<div class="container my-3">
    <button type="button" class="btn btn-info btn-color-Create" data-bs-toggle="modal" data-bs-target="#locationHelpModal">
        Need Help? Click here
    </button>
</div>
<!-- Help Modal -->
<div class="modal fade" id="locationHelpModal" tabindex="-1" aria-labelledby="locationHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationHelpModalLabel">How to Choose Locations and Quantity for Selected itmes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="bi bi-pencil-fill text-primary"></i> <strong>Modify Total Stock:</strong> Check the total stock of each item before choosing the location and quantity for transfer.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-check2-circle text-success"></i> <strong>Choose Location:</strong> Choose the location for the transfer from the dropdown list of available locations. If there is no available location, "None" will be displayed.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-eye-fill text-warning"></i> <strong>View Location Details:</strong> View the details of each location, including its name and available quantity.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-pencil-square text-secondary"></i> <strong>Enter Take-Out Quantity:</strong> Enter the quantity of items that you want to transfer from the chosen location.
                    </div>
                    <div class="list-group-item">
                        <i class="bi bi-arrow-left text-danger"></i> <strong>Go Back:</strong> Click the "Back" icon above the "Submit" button to return to the previous page.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<center><h3>Selected Items:</h3></center>
<form asp-action="ChooseItemQuantities" method="post">

    <div class="selected-items">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-lg-4" style="padding:15px">
                    <div class="row">

                        <fieldset class="item-fieldset">
                            <legend>Item #@item.ID: @item.Name</legend>
                            <div class="row">
                                <div class="col-md-2">
                                    @{
                                        if (item.ItemImages?.Content != null)
                                        {
                                            string imageBase64 = Convert.ToBase64String(item.ItemImages.Content);
                                            string imageSrc = string.Format("data:" + item.ItemImages.MimeType + ";base64,{0}", imageBase64);
                                            <img src="@imageSrc" alt="Item Picture of @item.Name" title="Item Picture of @item.Name" class="img-fluid avatar" />
                                        }
                                        else
                                        {
                                            <div>
                                                <img src="~/images/image-not-found_tm.png" alt="Image not found" title="Image not found" class="img-fluid avatar" />
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="@($"total-stock-{item.ID}")">Total Stock:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @{
                                                    int totalStock = 0;
                                                    foreach (var inventory in item.Inventories)
                                                    {
                                                        totalStock += inventory.Quantity;
                                                    }
                                                }
                                                <input type="text" class="form-control" readonly value="@totalStock" id="@($"total-stock-{item.ID}")">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Choose Location:</label>
                                        </div>
                                        <div class="col-md-6">
                                            @{
                                                if (item.Inventories.Count() == 0)
                                                {
                                                    <p>None</p>
                                                }
                                                else
                                                {
                                                    <select class="form-control required" name="@($"locations-{item.ID}")" id="@($"locations-{item.ID}")" required>
                                                        <option value="">Select a location</option>
                                                        @foreach (var inventory in item.Inventories)
                                                        {
                                                            <option value="@inventory.Location.Id" data-quantity="@inventory.Quantity">@inventory.Location.Name</option>
                                                        }
                                                    </select>

                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
    <div class="col-md-6">
        <label for="@($"location-quantity-max-{item.ID}")">Location Qty:</label>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" value="" id="@($"location-quantity-max-{item.ID}")" readonly>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label for="@($"location-quantity-{item.ID}")">Take-Out Quantity:</label>
    </div>
    <div class="col-md-6">
        <input type="number" class="form-control" value="" id="@($"location-quantity-{item.ID}")" name="@($"itemId{item.ID}")" required>

        <input type="number" hidden="hidden" class="form-control" value="" id="@($"locationId-{item.ID}")" name="@($"locationId{item.ID}")" />
    </div>
</div>

                                </div>
                            </div>
                        </fieldset>


                    </div>
                </div>
            }
        </div>
    </div>
    <button type="submit" title="Submit and save" class="btn-submit">Submit</button>
    <div class="tooltip"> <a asp-action="SelectItems"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>

</form>





@section Scripts{

    <script type="text/javascript">


        $(document).ready(function () {
            $('select[name^="locations-"]').change(function () {
                var selectedLocationId = $(this).val();
                var selectedLocationQuantity = $(this).find('option:selected').data('quantity');
                var itemID = $(this).attr('id').split('-')[1];
                var locationIdInput = $('#locationId-' + itemID);
                var totalStockInput = $('#location-quantity-' + itemID);
                var totalStockMAXInput = $('#location-quantity-max-' + itemID);


                console.log(selectedLocationId);
                locationIdInput.val(selectedLocationId);
                //totalStockInput.val(selectedLocationQuantity);
                totalStockMAXInput.val(selectedLocationQuantity);
            });
        });

        $(document).ready(function () {
            $('form').submit(function () {
                var formIsValid = true;
                $('.required').each(function () {
                    if ($(this).val() == '') {
                        formIsValid = false;
                    }
                });
                if (!formIsValid) {
                    alert('Please select a value for all required fields');
                    return false;
                }
            });
        });


    </script>

}



