@model IEnumerable<CAAMarketing.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
  

    <div class="form-horizontal">
       
        @*<button class="btn btn-success @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click this to filter/search">
            <i>Filter/Search</i>
        </button>*@
        <!-- Help Section -->
        <div class="d-flex justify-content-start mb-3">
            <button type="button" class="btn btn-info btn-color-Create" data-bs-toggle="modal" data-bs-target="#eventHelpModal">
                Need Help? Click here
            </button>

            <!-- Help Modal -->
            <div class="modal fade" id="eventHelpModal" tabindex="-1" aria-labelledby="eventHelpModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eventHelpModalLabel">How to use the Event page</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <i class="bi bi-plus-circle-fill text-primary"></i> <strong>Create New Event:</strong> Click the "Create New Event" button to add a new event.
                                </div>
                                <div class="list-group-item">
                                    <i class="bi bi-search text-success"></i> <strong>Search:</strong> Use the "Search box" to search for events by their name.
                                </div>
                                <div class="list-group-item">
                                    <i class="bi bi-arrow-up-down text-warning"></i> <strong>Sorting:</strong> Click on the column headers (Event, Reserve Date, Return Date, etc.) to sort the events by the respective criteria.
                                </div>
                                <div class="list-group-item">
                                    <i class="bi bi-pencil-square text-info"></i> <strong>Edit Event:</strong> Click the "Edit" link to modify the details of an event.
                                </div>
                                <div class="list-group-item">
                                    <i class="bi bi-info-square text-secondary"></i> <strong>View Event Details:</strong> Click the "Details" link to view more information about an event.
                                </div>
                                <div class="list-group-item">
                                    <i class="bi bi-trash text-danger"></i> <strong>Delete Event:</strong> Click the "Delete" link to remove an event.
                                </div>
                                <div class="list-group-item">
                                    <i class="bi bi-check2-square text-primary"></i> <strong>Log Items Back In:</strong> If not all items are logged back in, click the "Log-Back-in" link to log the items back into the system.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
        <div class="card card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Search Event:</label>
                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-4 align-self-end">
                    <input type="submit" name="actionButton" value="Filter" title="click here to filter" class="btn-filter" />
                    <a asp-action="Index" title="Click here to clear the filter" class="btn-clear-barcode">Clear</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid ">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h1>Events</h1>
                    <div class="col-xs-7">
                        <a asp-action="Create" title="Click here to create a new event" class="btn btn-primary btn-color-Create">
                                <i class="material-icons">&#xE147;</i>
                            <span>Create New Event</span>
                            </a>

                            <div class="search-box">
                            <div class="input-group">
                                <input type="text" id="Eventsearch" class="form-control" placeholder="Search by Event Name">
                                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                            </div>
                        </div>
                        </div>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <input type="submit" name="actionButton" title="click here to sort by event" value="Event" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Reserve Date" title="click here to sort by date" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Return Date" title="click here to sort by date" class="btn btn-link" />
                            </th>

                            <th>
                                <input type="submit" name="actionButton" value="Items" title="click here to sort by date" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Location" title="click here to sort by location" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="# Booked" title="click here to sort by location" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Logged" title="click here to sort by location" class="btn btn-link" />
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventDetails in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => eventDetails.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => eventDetails.ReservedEventDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => eventDetails.ReturnEventDate)
                                </td>
                                <td>
                                    @{
                                        if (eventDetails.ItemReservations.Count() == 0)
                                        {
                                            <p>None</p>
                                        }
                                        else
                                        {
                                            @foreach (var c in eventDetails.ItemReservations)
                                            {
                                                @c.Item.Name <br />
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (eventDetails.ItemReservations.Count() == 0)
                                        {
                                            <p>None</p>
                                        }
                                        else
                                        {
                                            @foreach (var c in eventDetails.ItemReservations)
                                            {
                                                @c.Location.Name <br />
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (eventDetails.ItemReservations.Count() == 0)
                                        {
                                            <p>None</p>
                                        }
                                        else
                                        {
                                            @foreach (var c in eventDetails.ItemReservations)
                                            {
                                                if (c.IsLoggedIn)
                                                {
                                                    @c.LoggedInQuantity <br />
                                                }
                                                else
                                                {
                                                    @c.Quantity <br />
                                                }
                                                
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (eventDetails.ItemReservations.Count() == 0)
                                        {
                                            <p>None</p>
                                        }
                                        else
                                        {
                                            @foreach (var c in eventDetails.ItemReservations)
                                            {
                                                @if (@c.IsLoggedIn)
                                                {
                                                    <span style="color: green;">&#10003;</span>

                                                    
                                                }
                                                else
                                                {
                                                    <span style="color: red;">&#10007;</span>
                                                }
                                                <br />
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        bool allItemsLoggedBackIn = true;
                                        foreach (var item in eventDetails.ItemReservations)
                                        {
                                            if (!item.IsLoggedIn)
                                            {
                                                allItemsLoggedBackIn = false;
                                                break;
                                            }
                                        }
                                    }
                                    @if (!allItemsLoggedBackIn && eventDetails.ReturnEventDate < DateTime.Now)
                                    {
                                        <a asp-action="LogBackInMultiple" title="Click this to log back in the items" class="padding-for-actions" asp-route-id="@eventDetails.ID">Log-Back-in |</a>
                                    }
                                    <a asp-action="EditOverview" title="Click this to edit" class="padding-for-actions" asp-route-id="@eventDetails.ID">Overview</a> 
                                    @if (!eventDetails.ItemReservations.Any(ir => ir.IsLoggedIn))
                                    {
                                        <a asp-action="Delete" title="Click this to delete the event" class="padding-for-actions" asp-route-id="@eventDetails.ID">| Delete</a>
                                    }

                                    
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <partial name="_PagingNavBar" />
    </div>


</form>

                                    <script>
    $(document).ready(function () {
        // Activate tooltips
        $('[data-toggle="tooltip"]').tooltip();

        // Filter table rows based on searched term
        $("#Eventsearch").on("keyup", function () {
            var term = $(this).val().toLowerCase();
            $("table tbody tr").each(function () {
                $row = $(this);
                var name = $row.find("td:nth-child(1)").text().toLowerCase();
                console.log(name);
                if (name.search(term) < 0) {
                    $row.hide();
                } else {
                    $row.show();
                }
            });
        });
    });
</script>